.ant-layout-header{background: #4fa138 !important;}
.center-box {
  width: 100%;
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
}
ol,ul,dl{margin-bottom:0}
.hidden {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
}
.flex-box{display: flex;}
.flex-box.between{justify-content: space-between;}
.flex-box.j-center{justify-content: center;}
.flex-box.a-center{align-items: center;}
.ant-layout-header.header {
  padding: 0 15px;font-size: 12px;font-weight: 700;
}
input::placeholder {
  color: #aaa;
}
.customRadio + label {
  display: flex;
  width: calc(50% - 5px);
  height: 100px;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #555;
  cursor: pointer;
}
.customRadio:checked + label {
  color: #75bf61;
  position: relative;
  border-width: 2px;
  border-color: #75bf61;
}
.customRadio:checked + label.basic-lunch {
  border-color: #ff7946;
  color: #ff7946;
}

.customRadio + label svg {
  width: 25px;
  height: 25px;
}
.customRadio:checked + label span {
  display: inline-block;
  margin-left: 7px;
}

.customRadio + label .ic-basic-lunch {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  background: url(./img/fork.svg) no-repeat;
  background-size: contain;
  margin-right: 10px;
}
.customRadio:checked + label .ic-basic-lunch {
  background-image: url(./img/fork_on.svg);
}

.customRadio + label .ic-diet-lunch {
  width: 29px;
  height: 29px;
  flex-shrink: 0;
  background: url(./img/healthy-food.svg) no-repeat;
  background-size: contain;
  margin-right: 10px;
}
.customRadio:checked + label .ic-diet-lunch {
  background-image: url(./img/healthy-food_on.svg);
}

.radio-flex-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  justify-content: center;
}

.radio-bot-box {
  margin-top: 10px;
  width: 100%;
}

header a {
  color: #fff;
}
header a:hover {
  color: #75bf61;
}

.ic-check {
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ic-check svg {
  width: 30px;
  height: 30px;
  color: #75bf61;
  margin-right: 5px;
}
.ic-loading svg{width:40px;height: 40px;}
.sub-h2{font-size: 18px;font-weight: 700;margin:0;color: #333;}
.sub-h2.center{text-align: center;}
.sub-h2.center.mb{margin-bottom: 20px;}
.my-history {
  width: 100%;display: flex;flex-wrap: wrap;
}

.my-history .list {
  width:100%;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 25px 25px 25px 30px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.my-history .list::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 100%;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
}
.my-history .list.radio1::before {
  background: #ff5516;
}
.my-history .list.radio2::before {
  background: #75bf61;
}
.my-history .list.radio1 {
  border-color: #ff5516;
}
.my-history .list.radio2 {
  border-color: #75bf61;
}
.history-flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my-history .list .checker-info{
  text-align: right;
}
.my-history .list .name{
  font-weight: 700;color: #111;
}
.my-history .list .date {
  color: #888;font-weight: 500;
  font-size: 12px;
}
.my-history .list .choice {
  display: flex;
  align-items: center;
}
.my-history .list .choice i {
  display: inline-block;
  flex-shrink: 0;
  width: 35px;
  height: 35px;
  background: url(./img/fork_on.svg) center no-repeat;
}
.my-history .list.radio2 .choice i {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url(./img/healthy-food_on.svg) center no-repeat;
}

@media all and (min-width:1025px){
  .my-history .list{
    width:calc(33.333% - 8px);margin-right: 12px;
  }
  .my-history .list:nth-child(3n+3){margin-right: 0;}
  
}

.join-box .flex-box{margin-bottom: 12px;}
.join-box .flex-box label{width:140px;font-size: 13px;font-weight: 700;color: #333;}

.admin-form{
  display: flex;align-items: center;margin-bottom: 10px;max-width: 50%;
}
@media all and (max-width:640px){
  .admin-form{max-width: 100%;}
}

.custom-file{position:absolute;width:0;height: 0;overflow: hidden;}


.check-img-box{text-align: center;margin: 0 auto 20px auto;max-width: 600px;}
.check-img-box .flex-box{margin-bottom: 10px;}

.admin-table{max-width: 400px;margin: 0;}
.admin-table th,
.admin-table td{text-align: center;}

